.myButton {
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
}

.myButton:hover {
    width: 100px;
    height: 30px;
    border-radius: 15px;
}

