.logOut {
  position: absolute;
  left: 50%;
  top: 60px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: skyblue;
}
.logOut:hover {
  background-color: #4facdb;
}
.description{
  margin-top: 50px;
}
.name {
  font-size: 25px;
  color: navy;
}
